body {
  min-height: 2000px;
  padding-top: 70px;
/*  background-size: cover; 
  background: url("desert.jpg");*/
}

h1, h2, h3 {
  font-family: 'Boogaloo', cursive;
}

body {
  font-family: 'Cabin', sans-serif;
}