<!DOCTYPE html>
<html>
<head>
  <title>ZooApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">

</head>
<body>
  <!-- Fixed navbar -->
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">The Zoo</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exhibits <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/exhibits/forest">Fantasy Forest</a></li>
              <li><a href="/exhibits/desert">Desert</a></li>
              <li><a href="/exhibits/town">Town</a></li>
            </ul>
          </li>
          <li><a href="/animals/new">Donate an Animal</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<%= yield %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- Adding below code for Ajax: -->
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>
